<?xml version="1.0"?>
<!--
/**
 * This file is part of the Itabs_CustomSku module.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 *
 * @category  Itabs
 * @package   Itabs_CustomSku
 * @author    ITABS GmbH <info@itabs.de>
 * @copyright 2015 ITABS GmbH (http://www.itabs.de)
 */
-->
<config>
    <modules>
        <Itabs_CustomSku>
            <version>1.0.0</version>
        </Itabs_CustomSku>
    </modules>
    <global>
        <blocks>
            <itabs_customsku>
                <class>Itabs_CustomSku_Block</class>
            </itabs_customsku>
        </blocks>
        <helpers>
            <itabs_customsku>
                <class>Itabs_CustomSku_Helper</class>
            </itabs_customsku>
        </helpers>
        <models>
            <itabs_customsku>
                <class>Itabs_CustomSku_Model</class>
                <resourceModel>itabs_customsku_resource</resourceModel>
            </itabs_customsku>
            <itabs_customsku_resource>
                <class>Itabs_CustomSku_Model_Resource</class>
                <entities>
                    <customsku>
                        <table>itabs_customsku</table>
                    </customsku>
                </entities>
            </itabs_customsku_resource>
        </models>
        <resources>
            <itabs_customsku_setup>
                <setup>
                    <module>Itabs_CustomSku</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </itabs_customsku_setup>
        </resources>
        <fieldsets>
            <sales_convert_quote_item>
                <custom_sku>
                    <to_order_item>*</to_order_item>
                </custom_sku>
            </sales_convert_quote_item>
            <sales_convert_order_item>
                <custom_sku>
                    <to_quote_item>*</to_quote_item>
                </custom_sku>
            </sales_convert_order_item>
        </fieldsets>
    </global>
    <frontend>
        <routers>
            <itabs_customsku>
                <use>standard</use>
                <args>
                    <module>Itabs_CustomSku</module>
                    <frontName>customsku</frontName>
                </args>
            </itabs_customsku>
        </routers>
        <layout>
            <updates>
                <itabs_customsku>
                    <file>itabs_customsku.xml</file>
                </itabs_customsku>
            </updates>
        </layout>
        <translate>
            <modules>
                <itabs_customsku>
                    <files>
                        <default>Itabs_CustomSku.csv</default>
                    </files>
                </itabs_customsku>
            </modules>
        </translate>
        <events>
            <sales_quote_item_set_product>
                <observers>
                    <itabs_customsku>
                        <class>itabs_customsku/observer</class>
                        <method>setCustomSkuOnQuoteItem</method>
                    </itabs_customsku>
                </observers>
            </sales_quote_item_set_product>
        </events>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <itabs_customsku>
                    <file>itabs_customsku.xml</file>
                </itabs_customsku>
            </updates>
        </layout>
        <translate>
            <modules>
                <itabs_customsku>
                    <files>
                        <default>Itabs_CustomSku.csv</default>
                    </files>
                </itabs_customsku>
            </modules>
        </translate>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <itabs_customsku>
                        <class>itabs_customsku/observer</class>
                        <method>adminhtmlBlockHtmlBefore</method>
                    </itabs_customsku>
                </observers>
            </adminhtml_block_html_before>
        </events>
    </adminhtml>
    <phpunit>
        <suite>
            <modules>
                <Itabs_CustomSku/>
            </modules>
        </suite>
    </phpunit>
</config>
